#Hi{ /* we menytyioned p here means wheverever there is p i.e. p of prargraph too, it will have the below properties in the HTML file */
    font-size: 18px;
    color: red;
    
}
h2{
    font-size: 25px;
    color: blue;
}
span{
    text-transform: uppercase; /*It will transform the whole text into uppercase or capital letters*/
    display: block; /*this is used to go to next line, we can use <br> in html too for this*/
    color: yellowgreen; /*the color at bottom i.e. the latest coded color wwill be put and old color will be replaced*/
    color: blue;
}
#Hello{
    font-size: 25px;
    background-color: gray;
    text-decoration: underline;
}
/*now understand one thing, let say we have  line p, and we have something 
with <p id=*anything*, the one with id and one with non id both belongs to p, which means
p is the parent of all, so if i make a code as
p{
 color: red !important;   
} then no matter what you change in p or p id=...
the color of all p will remain same*/
/*p{
    color: black !important;*//*i commented this because it will cause overiding in other codes
}*/
#Hey{
    color:blue
} /*all text will be changed to black no matter what you change in p id=...*/
/*if we wish to change the properties i.e. customize things of multiple lines/ things then we can do as follows*/
#A ,#B, #C{
    color:darkblue;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
}
#main-content #sub-content p{
    color: darkgoldenrod;
}
/*if we want to customiz only main content then we can use the following*/
#main-content > p{
    color: blueviolet;
}
#all-articles h2 + p{ /*by + sign we can color h2 and the p text JUST BELOW h2*/
    color: green;
}
span[class]{ /*by this we can customize all class=... elemets all at once*/
    color: blueviolet;
}
div[id]{ /*same reason as above*/
    background: grey;
}
a[title="Google"]{
    color: slateblue;
}
a[href="https"]{
    color: cornflowerblue;
}
a:hover{ /*by the help of this whenever we hover over a link which lies inside 'a' the link will change color*/
    color: red;
}
a:active{ /*it ill be the colro when we havent visited the link yet*/
    color: orange;
}
a:visited{ /*this will be the link when we have visited the link atleast once*/
    color:blueviolet;
}
article p:first-child{ /*this customization will apply to both articles!*/
    /*first line of article is known as first child i.e. first line, last child is last line*/
    font-weight: bold;
}
article p:last-child{
    color: red;
}
article p:nth-child(2), article p:nth-child(4){
    font-weight: bold;
}
li:nth-child(even){
    font-weight: bold;
}
li:nth-child(odd){
    color: red;
}
article:nth-of-type(1){ /*this will customize only the first article*/
    background: grey;
}
article:nth-of-type(odd){
    background: grey;
}
*{/* *{} is used to provide this particular code to ALL elemets like a, articlle, p, li, div etc etc*/
    background: url(http://127.0.0.1:5500/Image/Skull.jpg);/*when you run the 'go live' then open the image you will get a link at top, copy that link and paste here to make img as background*/
    background-position: center; /*this will align the image to the centre*/
    margin: 0;/*this helps align image properly to background*/
    /*padding: 0;*//*padding is used to put EVERYTHING  to the very left and it will REMOVE BULLETS and bullet's text will be sticked to left*/
    background-size: cover; /*this will cover the image properly to the background*/
    background-attachment: fixed;/*this will not split image in each element like half image at article, half image at p etc*/   
    }
#Jassi{ 
    text-decoration: overline; /*we can use tet decor for better looks*/
}

/*we can change the whole body of the fill by typing body{
rest of code
}*/
